@mixin animation-rotation() {
    @keyframes rotation360 {
        100% {
            transform: rotate(360deg);
        }
      }
}

@mixin textBoum() {
    @keyframes text-animation {
        50%{
            color: blue;
            transform: scale(2);
        }
    }
}

@mixin heart-animation() {
    @keyframes heart-deplacement {
        20%{
            transform: translate(0px, -200px) scale(1.8);
        }
        30%{
            transform: translate(-300px, -200px) scale(2);
        }
        60%{
            transform: translate(300px, -200px) scale(2.4);
        }
        80%{
            transform: translate(0px, -200px) scale(1.8);
        }
    }
}