@mixin animation-rotation() {
    @keyframes rotation360 {
        100% {
            transform: rotate(360deg);
        }
      }
}

@mixin textBoum() {
    @keyframes text-animation {
        50%{
            color: blue;
            transform: scale(2);
        }
    }
}