@use "src/D_scss/mixin" as *;

body{
}

.textBoumBoum{
    margin: auto;
    margin-top: 20%;
    width: 100px;
    height: 100px;
        
        .textRotation:hover{
            @include animation-rotation();
            animation: rotation360 1s linear;
        }

        p{
            color: red;
            font-size: 2em;
            text-align: center;
            font-family: "Stick-Regular";
            
          @font-face {
              font-family: "Stick-Regular";
              src: url("../font/ttf/Stick-Regular.ttf");
            }
            @include textBoum();
            animation: text-animation 3s linear infinite;
      }

}